*{
    font-family: sans-serif;
}
.div1{
    width: 500px;
    background-color: rgb(81, 207, 207);
    margin: 200px 0 0 500px;
}
.div1 label{
    color: white;
}
.div1 caption{
    margin-left: 180px;
    font-size: large;
    font-weight: bold;
    color: lightcoral;
}
.div1 table{
    margin-left: 10px;
}
.div2{
    display: flex;
}
.div2 #chkbox{
    margin: 0 10px 0 20px;
}
.div2 p{
    margin: 5px 0 0 10px;
}
.submit{
    background-color: lightsalmon;
    border: none;
    margin: 10px 0 10px 200px;
}